LINE_CH_SECRET=
LINE_ACCESS_TOKEN=
LINE_ADMIN_ID=
MONGODB_URI=mongodb://envmonitor-mongo_db-1:27017/envmonitor
RUNTIME_MODE=DEV_NGROK



#LINE_CH_SECRET=b5e673f4f4dd93afc2a11a7fc686efe7
#LINE_ACCESS_TOKEN=MdFt7EDy967g8XDEC6mtIIaycd5ZGi7XPPz018SEVE/t37lYmVl1MTsNHI4NNR0USAAyr76y/lGN6+rMWDKTCtINW4O3/RhAgRzfYlpBEbk4aknfwC+BZSa4s+PoCCG6GjOFIBH1X+QQtGvrm9tfgwdB04t89/1O/w1cDnyilFU=
#LINE_ADMIN_ID=U1a1b3b9c638fe570ac62997b768dc036
#MONGODB_URI=mongodb://envmonitor-mongo_db-1:27017/envmonitor
#RUNTIME_MODE=DEV_NGROK
